<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
  </head>

  <body>
    <% include ../partials/nav.ejs %>
    <div class="main-container">
      <table>
        <tr>
          <td colspan="2"><a href="/login/adminPage">Admin Board</a></td>
          <td><a href="/login/admin">Add Member</a></td>
        </tr>
      </table>

      <hr />
      <form
        name="form1"
        method="POST"
        action="/login/admin/addMember"
        onsubmit="window.location.reload()"
      >
        <table>
          <tr>
            <td>Member Name</td>
            <td><input type="text" name="member" /></td>
            <td class="button" colspan="2">
              <input type="submit" value="Submit" />
            </td>
          </tr>
        </table>
      </form>
      <%if(typeof message !== "undefined"){ %> <%= message%> <%}%>
    </div>
  </body>
</html>
